extends ../template

block variables
    - var title = 'Блог'

block content
    h1 Блог
    ul
        li
            h2 Заголовок статьи
            p Lorem ipsum dolor sit amet consectetur adipisicing elit. Harum, magni nobis molestiae tempora voluptas dolorum est doloremque quam ea placeat expedita autem quos alias corporis inventore ratione provident fuga facere!
        li
            h2 Ещё статья
            p Lorem ipsum dolor sit amet consectetur adipisicing elit. Nam alias quam quas? Non sit ut ipsum eum, at fugit officia delectus suscipit neque ratione labore natus magnam soluta quas esse!
        li 
            h2 Последняя статья
            p Lorem ipsum, dolor sit amet consectetur adipisicing elit. Repellat quae nostrum quos doloremque earum odit. Corporis commodi ut reiciendis laborum ab numquam? Nesciunt quo nemo vitae reprehenderit distinctio dignissimos consequuntur.